<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>خانه</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        body{
            /* image-resolution: ;
            background-image: url("loading.gif");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 10% 10%;
            background-position: bottom;
            background-position-y: 250px; */
            color: green;
        }
        
    </style>
</head>


<body>
    <h1>به سایت "شرکت فناوران آینده ی هفت آسمان" خوش آمدید</h1>
    <img src="loading.gif" alt="">
</body>
</html>

